*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: #E4F20F;
    margin: 3px 30%;
    padding: 10px 5px;
    border: 8px solid black;
    min-width: 380px;
}
header{
    padding: 0px 1% 9px 1%;
}
h1{
    font-size: 68px;
    font-family:'Dancing Script';
    text-align: center;
    margin-bottom: 9px 0px;
}
h2{
    text-align: center;
    font-size: 26px;
    font-family: monospace;
}
p {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid black;
}
form{
    margin: 0px 1rem;
    background-color: rgba(0, 0, 0, 0.09);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.box{
    /* border: 3px solid orange; */
    margin:10px auto;
	/* display:table; */
    /* width: 100%; */
    padding: 0 30px;
}
.submit{
    width: 30%;
    min-width: 20%;
    background-color: #E4F20F;
    border: solid 4px black;
    border-radius: 20px;
    margin:0 auto;
	display:table;
}
.submit:hover{
    /* width: 60%; */
    background-color: black ;
    border: solid 4px white;
    color: #e4f20f;
    cursor: pointer;
}
.box  .social-media{
    /* background-color: pink; */
    min-width: 290px;
    padding:  2px 10px;
    /* margin: 0 auto; */
}